@media (min-width: 630px) and (max-width: 1020px) {
    .text-responsive {
      color: #ADB7BE; /* Default color */
      font-size: 1rem; /* Modify font size if needed */
      line-height: 1.6; /* Adjust line height for readability */
      margin-bottom: 1.5rem; /* Adjust bottom margin */
      text-wrap: balance;
      overflow-wrap: break-word;
      word-wrap: break-word;
      hyphens: auto;
    }
  
    /* For dark mode */
    .dark .text-responsive {
      color: #1a202c; /* Adjust dark mode text color */
    }
  }
  